@import "tailwindcss";

@layer components {
  .small-sidebar {
    @apply w-[5%];
  }

  .small-sidebar ul li p {
    @apply hidden;
  }

  .small-sidebar ul li {
    @apply size-6;
  }

  .responsive-box {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  @media (max-width: 590px) {
    .responsive-box {
      row-gap: 6rem;
    }
  }
  @media (max-width: 500px) {
    .responsive-box {
      row-gap: 3rem;
    }
  }

  @media (max-width: 400px) {
    .responsive-box {
      row-gap: 2rem;
    }
  }
}
